[2012-08-25 13:18] greghendershott opened #1 "Add DynamoDB"
Add support for the [DynamoDB](http://docs.amazonwebservices.com/amazondynamodb/latest/developerguide/Introduction.html) service.

[2012-08-25 13:19] greghendershott opened #2 "Add Glacier"
Add support for the [Glacier](http://docs.amazonwebservices.com/amazonglacier/latest/dev/introduction.html) service.

[2012-08-26 13:06] greghendershott opened #3 "Support Google Cloud Storage?"
- _Good news_: The RESTful API is very close to S3, except...
- _Bad news_: The method of signing requests, i.e. authorization, is completely different.
- _Bad news_: The bulk of the effort tends to be signing requests.

https://developers.google.com/storage/docs/developer-guide

[2012-08-26 13:28] greghendershott opened #4 "Add more hyperlinks to AWS doc pages"
In the docs for Glacier, I provided many links to the AWS docs. The other services would benefit from this.

[2012-08-27 14:11] greghendershott opened #5 "Change sigv4.rkt to use new PLaneT lib gh/sha"
Delete hmac-sha256.rkt in this project, and use the hmac-sha256 procedure provided by gh/sha.

[2012-08-27 17:54] #5 closed, assigned to greghendershott

[2012-08-29 12:24] #4 closed, assigned to greghendershott

[2012-08-30 02:42] greghendershott opened #6 "Use `Expect: 100-continue` header in `PUT` requests to Glacier"
Using `Expect: 100-continue` means that if the server needs to fail the request, it can do so _before_ we transmit the entity. Because we're doing multi-part uploads in relatively small chunks, using this is much less important than it is in the `s3` module, however it would still be good to do.

[2012-08-30 12:06] greghendershott opened #7 "Add test-case for 100-continue and S3"

[2012-08-30 12:09] #7 closed, assigned to greghendershott

[2012-08-30 12:16] greghendershott opened #8 "Change glacier.rkt to use (planet gh/sha))"

[2012-08-30 12:51] greghendershott opened #9 "Add rackunit tests for glacier.rkt"

[2012-08-30 12:59] #8 closed, assigned to greghendershott

[2012-08-30 12:59] #9 closed, assigned to greghendershott

[2012-08-30 12:59] #6 closed, assigned to greghendershott

[2012-08-30 20:50] #2 closed, assigned to greghendershott

[2012-08-31 15:30] greghendershott opened #10 "Use SHA-256 instead of SHA-1 for the sig v2 services"
Services that use [signature version 2](http://docs.amazonwebservices.com/general/latest/gr/signature-version-2.html) can use HMAC-SHA256 instead of HMA-SHA1. These include:
- SDB
- SES
- SNS
- SQS
- CloudWatch

[2012-08-31 16:03] #10 closed, assigned to greghendershott

[2012-09-01 14:44] greghendershott opened #11 "CORS option for S3"
[Info](http://docs.amazonwebservices.com/AmazonS3/latest/dev/EnableCorsUsingREST.html)

[2012-09-06 13:18] greghendershott opened #12 "Multi-part uploads for S3"
[Info](http://docs.amazonwebservices.com/AmazonS3/latest/dev/uploadobjusingmpu.html)

Optionally could do the uploads with some level of parallelism (using e.g. ~4 Racket green threads), which could improve throughput.

[2012-09-10 16:38] greghendershott opened #13 "S3: Add `put-acl`"
In S3 add `put-acl` to complement `get-acl`.

[2012-09-10 16:55] #12 closed, assigned to greghendershott

[2012-09-10 16:55] #13 closed, assigned to greghendershott

[2012-09-11 13:43] greghendershott opened #14 "Add Route 53"

[2012-11-15 13:33] greghendershott opened #15 "Add range retrieval option to Glacier"
AWS added option to retrieve just a range of an archive. But must be MB aligned, and for checksums tree-hash-aligned. http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-initiate-job-post.html

[2012-11-18 01:43] fdr opened #16 "S3 ls/ll operations do not work with upcase bucket names"
Unfortunately, this is because of hilarious complexity in bucket naming; it's not always correct to use `bucket-name.s3.amazonaws.com` virtual-hosted notation, as version 1.3 does currently.  I have a few buckets that have been sadly unique-ified using the public part of the AWS credential, and the simplest rendition with that results in buckets with upcases.

For these, the non-virtualhosted s3 e

[2012-11-19 03:15] #16 closed, assigned to greghendershott

[2012-11-26 18:41] #14 closed, assigned to greghendershott

[2012-11-26 22:57] #1 closed, assigned to greghendershott

[2012-11-27 15:01] greghendershott opened #17 "Remove S3 test file from payload."
Instead generate the test file in tmp dir during test.

[2012-11-27 15:27] #17 closed, assigned to greghendershott

[2012-11-29 18:59] greghendershott opened #18 "Redshift"
Support the new Redshift columnar database for data-warehousing, announced 2012-11-28.

As of 2012-11-29, Redshift is still in private "preview".

[2012-11-29 23:10] greghendershott opened #19 "Add long-polling to SQS"
http://aws.typepad.com/aws/2012/11/amazon-sqs-long-polling-batching.html

[2012-11-29 23:11] greghendershott opened #20 "Add batching to SQS"
http://aws.typepad.com/aws/2012/11/amazon-sqs-long-polling-batching.html

[2013-06-19 11:57] greghendershott opened #21 "SNS: Support new large payload and raw message delivery"
[Large Payload and Raw Message Delivery](http://docs.aws.amazon.com/sns/latest/dg/large-payload-raw-message.html)

[2013-12-10 16:42] dweinstein opened #23 "aws/s3 object listing"
Perhaps I'm using the library incorrectly, but I am getting an `'()` (empty list) whenever I try to list a bucket:

[code]

My racket version is `5.90.0.9` (haven't pulled from git in a bit, but that's commit https://github.com/plt/racket/tree/3ae298b14504be101713692ab7e3169841670a09)

Please let me know if I can provide any other helpful information. I installed the package using `raco pkg instal

[2013-12-19 19:58] #23 closed, assigned to nobody

[2013-12-20 23:06] greghendershott opened #25 "Undeclared dependency"
Racket 6:

[code]

[2013-12-20 23:37] #25 closed, assigned to greghendershott

[2014-03-17 01:16] mflatt opened #27 "version 1.0?"
This package seems stable, and I'm writing more and more code that depends on it. Is it ready for 1.0?

[2014-05-22 14:39] #27 closed, assigned to nobody

[2014-07-16 05:08] mflatt opened #31 "S3 `sign-uri` needs a `uri-encode`?"
I think that line 634 of "s3.rkt" needs a `uri-encode` around `bucket+path` as the argument to `canonical-string-to-sign`.

I ran into problems trying upload with path elements that contain "@", and adding `uri-encode` there solved the problem.

[2014-09-28 19:56] greghendershott opened #32 "Glacier not working with other than the default region"
Reported by Norman Gray on Racket mailing list.

It appears that the problem -- or at least an obvious problem -- is a disturbingly dumb oversight on my part. `host` can't be a variable, instead it must be a function call so it can utilize whatever the current value is of the `region` parameter.

[2014-09-28 20:21] #32 closed, assigned to nobody

[2014-10-01 21:34] nxg opened #34 "aws/sns publish contract inconsistent with code"
The documentation has:

[code]

however the actual contract is:

[code]

(I'm raising an issue rather than suggesting a patch, because I'm not confident I know what the return value _ought_ to be).

[2014-10-02 15:04] #34 closed, assigned to nobody

[2014-10-30 18:22] jcollard opened #35 "Put/file fails when path contains a space in the name."
Running:

(put/file (string-append bucket "test/file with space in name.txt") (string->path filename))

Results int

HTTP 400 "Bad Request". AWS Code="#f" Message="#f"

[2015-05-05 11:07] krrrcks opened #36 "S3: Support AWS Signature Version 4"
My AWS setup is located in Frankfurt. In that location for S3 the only supported authentication method is "v4".

With the "standard installation" of this library I get a "The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256." error when doing anything on my S3 buckets (like "ls").

I am not familiar with all these details and couldn't get it from the source c

[2015-05-05 14:19] greghendershott commented on #36
**Short version:** For now please use a bucket in a region that supports the v2 signature.

**Long version:**

[Amazon says here](http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html):

The library already supports the v4 sig in general; see sigv4.rkt. But s3.rkt does not use that. The wrinkle will be [signing the payload](http://docs.aws.amazon.com/AmazonS3/latest/AP

[2015-05-05 15:36] krrrcks commented on #36
I understand. Well, I agree with you that supporting both versions does not pay off. I think I can move the data to a different region with v2 available.

[2015-05-05 21:15] greghendershott commented on #36
@krrrcks

1. Thank you for checking the availability of v4. That saves me the first step. :)

2. I'm glad the Ireland center is acceptable for now, and the library is working well with that.

3. I definitely do want to update this to use v4, as soon as I get a block of time to do it and test it thoroughly enough.

If anyone else comments on this thread to say they also need/want it, that would be

[2015-05-06 05:00] krrrcks commented on #36
Yes, everything works smoothly so far. Thanks for the library. If you find time for this enhancement and have some code to test, just hit me up. I'll be glad to test.

[2015-06-05 21:17] coopernurse opened #38 "Are SimpleDB limit queries possible?"
First off, thanks for writing this library!

I'm using SimpleDb and wish to paginate through a domain.  It appears that the main `sdb` function automatically follows `NextToken` values in the response, which means the caller can't control the number of items that are returned.

Am I reading this correctly?  If so, I'd suggest making the "auto-next" behavior optional so the caller can control this.

[2015-06-06 12:00] greghendershott commented on #38
I can't reply in detail today, but quickly: Yes -- you're correct, I'd welcome a PR, and I'd be glad to offer suggestions/guidance you want. I will try to follow up more tomorrow.

[2015-06-06 16:26] coopernurse commented on #38
Hey there.  Thanks for the quick follow up.  I'm playing around with this now in my fork.

Would you suggest we introduce another 'select' function that has these extensions?  I'm realizing that the type of the return value needs to change.  Currently it's a list of items, but we may want to introduce a struct.  Perhaps something like:

[code]

If I get something working I'll push a branch to my f

[2015-06-08 16:58] greghendershott commented on #38
Hmm, actually: Are you sure SimpleDB supports doing this for `select`s?  Why I ask: I tried a query that returned several items. When I tried the same query but with `MaxNumberOfItems=1`, I got back just one item (as expected) but I did _not_ see any `NextToken` in the response.

(It's been a couple years since I worked with SimpleDB, and I only had time to try a few quick experiments. So maybe I

[2015-07-30 08:41] krrrcks opened #40 "Support signature version 4 for SNS"
I wanted to use the package for sending messages via SNS. I was unable to publish a message in eu-central-1 (Frankfurt); I got a "InvalidClientTokenId". All other regions worked. From the [documentation](http://docs.aws.amazon.com/general/latest/gr/signature-version-2.html) I learned:

From the source code I learned that V4 is already implemented for Glacier. Is there any chance that the V4 is com

[2015-07-30 13:22] greghendershott commented on #40
Thanks for the request.

1. Please see issue #36 which is about doing sig v4 for S3. The advice there (use Ireland) _might_ be a work-around for you in the meantime?  And, as with issue #36, I'm not sure how soon I can get to doing this.

2. I think it's fine you opened this as its own issue, because doing v4 for each service is its own distinct chunk of work. Also, doing the work for SNS _might_

[2015-07-30 14:01] krrrcks commented on #40
Yes, I supposed from reading the documentation that v4 for services other than S3 might be easier. I could use Ireland as a workaround but my customer's workload is situated in Frankfurt and it would be nice to have everything in one region.

I feared that the signature thing is the hardest part. But if I could assist with testing, just leave me a message; it would be glad to help.

[2015-07-30 20:20] greghendershott commented on #40
I have a commit ready to push. Would you be comfortable testing it by fetching a topic branch from GitHub (i.e. not via `raco pkg update`)?  If so I'll push that way.

Otherwise I can push to master. On the down side, (a) I'm a bit jet-lagged and (b) Amazon doesn't seem to have SNS docs showing examples of sig v4 (only v2). However it is working for me when I update the test to run against both `u

[2015-07-30 20:27] greghendershott commented on #40
Actually I went ahead and pushed to a [a branch `issue-40-sns-sigv4`](https://github.com/greghendershott/aws/tree/issue-40-sns-sigv4).  Please let me know if you can test it that way, or, if I should go ahead and merge to master.

[2015-07-30 20:31] greghendershott commented on #40
By the way, you will need to set _both_ the `sns-endpoint` and the new `sns-region` parameters. For example:

[code]

[2015-07-31 06:57] krrrcks commented on #40
Huuuu! That was really a fast response! I tested code from your branch for eu-west-1, eu-central-1 (us-west-1 is having some issues this morning with SNS). Everything worked. Great you managed to add that v4 signature that fast! Thanks!

[2015-07-31 11:45] greghendershott commented on #40
Great! I'll merge to master and close this issue, for sns.

You already opened an issue for s3 (which IIRC will be much harder to do, but I'll try to tackle that).

I'll open a separate issue for each of the remaining other services where I'm not already using sig v4.

[2015-07-31 11:45] #40 closed

[2015-07-31 11:50] greghendershott opened #41 "CloudWatch: Support signature v4"

[2015-07-31 11:51] greghendershott opened #42 "Route 53: Support signature v4"

[2015-07-31 11:52] greghendershott opened #43 "SDB: Support signature v4"

[2015-07-31 11:52] greghendershott opened #44 "SES: Support signature v4"

[2015-07-31 11:53] greghendershott opened #45 "SQS: Support signature v4"

[2015-07-31 11:59] greghendershott commented on #38
I'm doing some housekeeping on issues. I'm going to close this because IIUC it's not possible to do, and because I haven't back from you so I don't know if you even need/want this anymore.

However please feel free to let me know otherwise.

[2015-07-31 11:59] #38 closed

[2015-07-31 14:14] greghendershott commented on #42
The motivation to do this service is less than the others, because Route 53 is available only at one endpoint in the `us-east-1` region. Although sig v4 is more secure, making this nice-to-have, there's no must-have factor re newer endpoints/regions that support only v4 not v2.

[2015-07-31 14:18] greghendershott commented on #40
@krrrcks Could you please check the list at the milestone https://github.com/greghendershott/aws/milestones/Signature%20v4 and leave a comment on each service that you need (now or soon)? I mean other than S3, which I already know you want.

I proactively did CloudWatch, but I'm thinking for the rest I should wait until/unless someone needs it. Partly because lazy. :)  But seriously, I'd be more c

[2015-07-31 14:19] greghendershott commented on #40
And instead I could spend time on doing S3, which is both much harder (I think) and actually needed by you.

[2015-08-03 12:14] greghendershott commented on #36
Update: I've been working on this the last couple days. Bad news: Turned out to be an even bigger change than I expected. Good news: I think I have a handle on it.

I need to do more testing. Otherwise, my main concern is speed, due to the need to sign the payload.

For now I _think_ it will be acceptable for plain `put` to sign the entire payload up-front (_not_ to use the chunked transfer upload

[2015-08-04 04:41] krrrcks commented on #36
To me that sounds like a good approach.

[2015-08-04 04:52] krrrcks commented on #43
I am not using or plan to use the service; therefore this issue would be of low priority for me.

[2015-08-04 04:59] krrrcks commented on #41
I am not using this part of the library at the moment but it would be nice to access CloudWatch from Racket.

[2015-08-04 05:00] krrrcks commented on #45
Low priority for me, but would be nice to have somewhen.

[2015-08-04 05:00] krrrcks commented on #44
Not a high priority for me but would be nice somewhen.

[2015-08-04 05:04] krrrcks commented on #42
I agree. This would be nice-to-have.

[2015-08-13 16:20] greghendershott commented on #36
@krrrcks Just wanted to touch base and let you know I haven't forgotten about this.

In fact I did end up going on to make the normal (non multipart) uploads use the "streaming"/chunked approach. Gory details in [commit message](https://github.com/greghendershott/aws/commit/54be58bdf6793f14a53c0fbc7bf2b8ad89305c3f).

That commit isn't yet merged to master. I'm going to mull it over a bit more. Als

[2015-08-14 14:00] #41 closed

[2015-08-15 15:12] greghendershott commented on #36
Merged.

[2015-08-15 15:12] #36 closed

[2015-08-15 17:21] krrrcks commented on #36
Wow, great! Thanks for implementing that feature so fast!

[2015-08-15 21:54] #42 closed

[2015-08-16 02:37] #45 closed

[2015-08-16 21:14] greghendershott commented on #43
It appears that SDB doesn't support Signature v4. (Why? My guess: Although SDB continues to be supported it is deprecated in favor of Dynamo?)

I'll do some more searching to confirm. If this is correct, there is nothing to be done and I'll close this.

[2015-08-17 07:00] krrrcks commented on #43
I searched a bit and found https://forums.aws.amazon.com/thread.jspa?threadID=96141&tstart=0

Although there is no offical statement of AWS it seems that there is no further development on SDB. Therefore it is likely that they did not implement signature v4. As a conclusion I would second to close the ticket.

[2015-08-17 13:36] greghendershott commented on #43
Thanks for checking! Closing this.

---

That leaves only #44 SES remaining to be done on the [Signature v4 milestone](https://github.com/greghendershott/aws/milestones/Signature%20v4). Although I don't feel any urgency to do Simple Email Service for its own sake, I might do it sooner for the sake of completing the entire milestone. :checkered_flag:  :)

[2015-08-17 13:36] #43 closed

[2015-08-17 14:15] #44 closed

[2015-08-29 20:26] krrrcks opened #46 "multipart-put/file raises contract violation with a big file"
I tried to upload a big file (about 88 GB) to eu-central-1 (Frankfurt) S3 data center. After a while I faced the following contract violation:

[code]

The violation repeated with 10002, 10003, 10004 and then I canceled the upload.

[2015-08-30 02:11] greghendershott commented on #46
The reason for the `(between/c 1 10000)` contract is that Amazon's doc say that part numbers must be from 1 to 10,000 inclusive:

http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadUploadPart.html

With an upload this big, I guess the size of each part must be bigger, so as to keep the number of parts <= 10,000?

You can use the optional keyword argument `#:part-size` to specify something bigg

[2015-08-30 09:23] krrrcks commented on #46
Ah, I see. Well, after re-reading your documentation on `multipart-put` I could have guessed to find a proper value for `#:part-size`. Thanks for the hint and explanation.

[2015-08-30 18:46] greghendershott commented on #46
I have an update that calculates a suitable part size automatically -- such that `multipart-put/file` would have worked for you. I'm mulling it over a bit more before I commit and push.

[2015-08-30 19:21] krrrcks commented on #46
Wow, thanks! That sounds great.

[2015-08-30 22:23] greghendershott commented on #46
The other thing I'm considering is how to make a failure more user-friendly, in terms of either resuming or cleaning up. Although it would no longer be interrupted due to the specific too-many-parts problem, any large upload could be interrupted for a variety of reasons, e.g. connectivity. Aside from avoiding a plain upload's size limit, another advantage of a multipart put is that you can deal wi

[2015-08-31 09:41] krrrcks commented on #46
Yes, that would be a nice thing. Another aspect that could be added for `multipart-put/file` would be to take care of the parts and perhaps abort the multipart upload (I just figured out that the thread opening contract violation left an abandoned multipart upload.)

[2015-08-31 15:08] greghendershott opened #48 "multipart-put and multipart-put/file: Better error handling"
As discussed in #46, the convenience functions `multipart-put` and `multipart-put/file` ought to handle things like `exn:fail:network?`. After all, being able to resume an interrupted upload is one of the main advantages of multipart uploads. Also, as a default in case the user doesn't want to deal with attempting to resume, the functions should automatically use `abort-multipart-upload` to clean

[2015-09-03 13:55] krrrcks commented on #48
I think a `failure-proc` would be helpful to get the upload-id and parts-list to decide on how to go further. A function for suspending an upload would be nice but nothing I really need at the moment. And I could not think of a situation where I would need that.

[2015-09-03 15:10] greghendershott commented on #48
A `suspend` function will be needed internally, to use when handling e.g. `exn:fail` exceptions. Multipart uploads use a pool of 4 threads. If one fails unrecoverably then the whole pool needs to be stopped gracefully.

After that's figured out, correctly, I think it would be helpful to `provide` it, too.

Example: Racket presents break, kill and hangup signals as `exn:break` exceptions. If the aw

[2015-09-03 15:34] krrrcks commented on #48
Yeah, sounds interesting and a really nice feature. For me that would have no high priority. So more a "nice to have" or "nice enhancement" feature.

[2015-09-03 15:53] greghendershott commented on #48
@krrrcks Thanks for letting me know that -- it helps me prioritize.

I shouldn't do this, at least not soon. [Unless I have time and want to work on it for fun. :)]

[2015-09-07 20:06] #46 closed

[2015-09-09 00:30] greghendershott commented on #48
So this was bothering me and I kept working on it.

I spent some time exploring how to make the worker pool handle `exn:break` cleanly, and return lists of "done" and "to-do" parts. Then I realized it didn't matter. I could focus on resuming, regardless of how cleanly it got interrupted.

So I pushed a commit with a couple "experimental" functions: `incomplete-multipart-put/file` and `resume-multi

[2015-09-13 03:39] greghendershott opened #50 "S3: Handle 50x responses with retries"
As requested by @mflatt

Also, consider attempting to retry after `exn:fail:network?`, maybe.

[2015-09-13 03:40] greghendershott opened #51 "Document some items that are new in version 1.x"
For example the recently added `s3-region` and `bucket-location`.

As suggested by @mflatt

[2015-09-13 04:12] #51 closed

[2015-09-13 19:36] greghendershott commented on #50
@mflatt I pushed a commit on a new `s3-retry` branch. Could you please take a look, and try?

One challenge I have, is that I never seem to get 50x responses from S3. Although I have what I feel are extensive unit tests, I'm not doing the volume of requests that you are in real use.

Also note I am trying to be good about `@history` in the Scribble docs. :)

[2015-09-13 19:40] greghendershott commented on #50
p.s. @mflatt The commit is doing two things:

1. Retries on certain 50x response codes. See `se-max-tries` param to limit.

2. The worker pool used for multipart uploads, now catches exns and returns the jobs to the todo list. I'm not sure what you think about this.  One catch is that, as it stands, there is no limit on retries, for this. My thinking is that's OK, because you'd want it to keep try

[2015-09-13 21:43] mflatt commented on #50
Thanks for the `history` notes!

I managed to provoke a retry through my script, and it looks like it exposed a bug:

[code]

[2015-09-13 23:38] greghendershott commented on #50
I just pushed commit f12917c to fix that dumb mistake.

[2015-09-14 11:23] mflatt commented on #50
This time is worked for me – one 50x provoked and handled successfully just now.

[2015-09-14 21:04] greghendershott commented on #50
Good to hear that the 50x retry now works as expected.

I'm less confident that the other change -- exn handling in the workers for multipart uploads -- is the right thing to do.

I might wait until you've had more experience using this branch and a chance to give me more feedback, before merging to master....

[2015-09-17 20:58] mflatt commented on #50
On my most recent try, I got

HTTP 200 "OK". AWS Code="InternalError" Message="We encountered an internal error. Please try again."
  context...:
   /Users/mflatt/plt/extra-pkgs/aws/aws/s3.rkt:367:29

I don't know whether I've seen that one before. "200, but please try again" seems awkward to deal with.

[2015-09-18 02:11] greghendershott commented on #50
Definitely awkward, but documented by Amazon for `delete-multiple` (your case), `copy`, and `complete-multipart-upload`.  And I'm actually checking in all three cases, which is why you did get an `aws:exn:fail` instead of a silent failure. So that's good. But those 3 corner cases aren't detected by the general purpose request/retry functions I just added, which don't (and shouldn't try to) underst

[2015-09-18 02:44] greghendershott commented on #50
I made these changes and am waiting for the tests to run OK before committing and pushing.

Unfortunately my tests don't exercise this error handling unless S3 happens to respond with the error. I'm getting the uncomfortable feeling that I ought to be mocking S3 somehow. Uncomfortable because although mocks are probably the right thing to do (?), I really don't want to take a first step down that

[2015-09-18 02:50] greghendershott commented on #50
I just pushed commit 21c4222 on the `se-retry` branch. Please let me know your experience.

[2015-09-18 21:29] mflatt commented on #50
It has worked for me on three tries, only one of which would have deleted anything. Unfortunately, I forgot to turn on warning logging, so I don't know whether there were retries at all.

[2015-09-23 14:19] mflatt commented on #50
Still working for me. But I have remembered to turn on warnings and haven't seen any retries this week.

[2015-09-23 14:57] greghendershott commented on #50
Well of course. Now that we _want_ retries to happen, they become a Heisenfeature. :)

And although I hear Amazon provided a testable moment yesterday, it was a Dynamo outage not S3. :)

Thanks for keeping an eye on it. When I get some free time in the next day or two, I'd like to review my changes with now-less-familiar eyes. If I don't see any problems, and can't think of a better test strategy,

[2015-10-14 15:27] mflatt commented on #50
A run just now hit the "got 200 OK but error" case on a delete, and the automatic retry worked

[2015-10-14 22:00] #50 closed

[2015-10-14 22:04] greghendershott commented on #50
Thank you for your help testing! Merged to master.

[2015-10-26 18:33] greghendershott commented on #48
This has been open for awhile and I'm satisfied the commit closes this issue, until/unless someone feels otherwise.

[2015-10-26 18:33] #48 closed

[2015-10-30 20:44] MicahElliott opened #52 "Set ACL with `put/file` (S3)"
The AWS CLI has a `cp` command that makes it very convenient to set an ACL. A very common usage is: `aws s3 --acl=public-read cp foo.txt s3://mybucket.example.com/bar/foo.txt`

I see you've [provided](http://planet.racket-lang.org/package-source/gh/aws.plt/1/5/planet-docs/manual/S3__Storage_.html#%28def._%28%28planet._s3..rkt._%28gh._aws..plt._1._5%29%29._put/file%29%29) a `put-acl` function, but

[2015-11-02 16:58] greghendershott commented on #52
Your link is to doc for the old PLaneT package, so first I want to make sure you know that's out of date. Instead see [the new package](http://pkgs.racket-lang.org/#[aws]) and [its doc](http://pkg-build.racket-lang.org/doc/aws/index.html).

---

I agree it's not convenient.

My doc links to [the AWS doc explaining their XML for ACLs](http://docs.aws.amazon.com/AmazonS3/latest/dev/S3_ACLs_UsingACLs

[2016-01-12 15:25] mflatt commented on #52
@MicahElliott In case you still care, with `put/bytes`, you can supply a canned ACL as a 'x-amz-acl header. Maybe `put/file` should accept extra headers, too.
Pull request #53 adds an extra-headers argument to `put-acl`, so that it can be used like `(put-acl <object> #f (hash 'x-amz-acl "public-read"))`

[2016-08-25 12:30] krrrcks opened #54 "SQS: How to handle received messages?"
Maybe this is a n00b question, but: How do I access the parts of a received message? The struct message is not provided to the requiring module as far as I see.

[2016-08-30 12:41] greghendershott commented on #54
That looks like a dumb oversight. Would you like to add it?

[2016-08-31 09:18] krrrcks commented on #54
I created a PR with a fix. I hope I have done everything right (I am not that experienced with Github).

[2016-09-23 08:48] krrrcks commented on #54
Did you find time to review the fix? Would be great to have the struct provided in upstream.

[2017-02-16 15:31] #54 closed

[2017-10-08 21:16] greghendershott opened #56 "Obtain credentials from IAM EC2 instance meta-data"
Code running on an EC2 instance with an appropriate IAM role can `GET http://169.254.169.254/latest/meta-data/iam/security-credentials/{role-name}` and obtain:

- temporary access and secret keys
- a value for an `X-Amz-Security-Token` header that must be supplied in requests signed with those keys
- an expiration -- the app should `GET` new credentials about 15 minutes beforehand.

This can be a

[2018-03-09 20:08] wesleybits opened #57 "Update DynamoDB API from 20111205 to 20120810"
This should open up the ability to test Dynamo interfacing programs against a local in-memory instance of Dynamo, and being up-to-date is generally a good thing.

[Getting DynamoDBLocal](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html)
[New API Basics](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Programming.LowLevelAPI.html)
[New API Operati

[2018-03-09 20:28] greghendershott commented on #57
Basically I think this sounds good, provided it doesn't break anything. :)

Dynamo isn't a part of AWS I've ever actually used for real. I'm not sure how many users of this Racket package are actively using Dynamo, either.  Is the new API backward compatible? If so, great. Otherwise,  let's discuss how to avoid breaking existing users.

I'm not sure how if at all the unit tests should be updated.

[2018-03-09 20:57] wesleybits commented on #57
The new API doesn't appear backwards compatible, but it seems that AWS is still hosting the older API with deprecation warnings attached. It's got a richer (more busy) JSON schema to it. It supports new types, like lists and maps, and added support for secondary indexes and table projections.

To keep things sane-ish, we could probably bin both implementations into separate modules, or units, and

[2018-03-10 15:50] greghendershott commented on #57
I just pushed a commit for this. Could you take a look and let me know what you think about the approach?

I haven't done anything to update the tests. Or even tried using this. The commit is to get your feedback.

[2018-03-11 18:53] wesleybits commented on #57
This look a lot like what I did to try to get it working Friday, except I only provided raw. I'll give it a shot this afternoon.

[2018-03-12 13:15] wesleybits commented on #57
OK, it looks like the contract for `dynamo-request` was reversed in the code. After fixing that, it seems it works a real treat. Do you mind if I commit the correction?

[2018-03-12 16:06] greghendershott commented on #57
Derp. Thanks for noticing and for offering to fix.

But also:

- Running the tests for real, now: I noticed a problem with the backward-compatibility wrapper macros.

- Re-reading my doc changes, I want to edit the prose.

So, I think I need/want to make another commit, anyway -- so I may as well correct the contract while I'm at it.

[2018-03-12 18:44] wesleybits commented on #57
Alrighty. I'll keep tabs on this ticket and give it another run-through when you're ready.

[2018-03-12 19:01] greghendershott commented on #57
I just pushed some more commits on the [`issue-57-dynamo-api` branch](https://github.com/greghendershott/aws/commits/issue-57-dynamo-api).

You're welcome to try if you have time in the next day or two. (Otherwise if I don't hear back, I'll go ahead and merge.)

Note: I'll squash before merging to `master`. I did them as little commits in case you were curious what I was doing.

[2018-03-12 21:50] wesleybits commented on #57
:+1:

It works fine for me, much thanks!

[2018-03-13 00:50] #57 closed

[2018-03-23 21:51] wesleybits opened #59 "SQS sometimes doesn't deliver the entire available message body"
Hi Greg,

It's me again.

I found something up with the SQS integration, where if you're trying to send a string of JSON or XML through in your message body, the XML parser will chop it up on quotes and other delimiters. It'll appear appear as though only the text up to the first delimiter, or that delimiter itself, was sent along.

It's easy to reproduce it. Just do this:
[code]

I know it's a li

[2018-03-24 01:44] greghendershott commented on #59
Hi! I glanced at your fork and yes -- I think using `se-path*/list` is the right thing to do. I'd be happy to merge a PR. (I will probably want squash the commits down to one before merging.) Thank you!

[2018-03-26 13:08] wesleybits commented on #59
OK, sounds legit.

[2018-03-31 14:05] #59 closed

[2018-04-09 19:36] #56 closed

[2019-08-13 18:15] Nexuist opened #63 "Credential procurement doesn't work on Lambda"
Hi,

I have a bit of a unique use case in that I am using the `aws` package on Lambda by compiling my code with `raco exe` and running the resulting binary using Node's child_process.

I have gotten everything working except that the signature v4 method fails to build valid headers and I get an unfortunate error:

[code]

Now, here is my dilemma. Initially I was using `use-iam-ec2-credentials!` to

[2019-08-14 08:54] Nexuist commented on #63
I've been able to build a simple replacement for now until I can use the regular methods again:

[code]

I basically just ripped out some of the methods in `aws/dynamo` and rewrote them to use the`session-token` parameter. It also reads the keys from environment variables now.

Making `session-token` a parameter and perhaps supplying a `(read-keys/from-environment)` function may be the best bet no

[2019-08-19 14:23] greghendershott commented on #63
Thanks for reporting this and sharing a work-around.

What you suggest seems right. But I'd want to make sure adding this third scenario (AWS Lambda) wouldn't break the other two ("normal", and, EC2 instance metadata). Unfortunately I don't have time to do that confidently, now. [Plus [my Racket time is on "pause"](https://www.greghendershott.com/2019/07/future-of-racket.html), now.]. So I will le

[2019-09-04 14:03] Nexuist commented on #63
@greghendershott Understood, I read your article previously and I respect your choice. Best of luck with future endeavors!

[2019-11-08 15:13] jeapostrophe opened #64 "sigv4 issues"
Any idea what is going on in this test failure?

http://drdr.racket-lang.org/53149/racket/share/pkgs/aws/aws/sigv4.rkt

[2019-11-08 16:35] greghendershott commented on #64
Not yet. Looking now. The failure [doesn't occur in Racket versions 6.2 through 7.3, just HEAD](https://travis-ci.org/greghendershott/aws/builds/609303511).

First quick guess is HEAD changed something about hash-table ordering (an assumption easy to bake incorrectly into tests) or macro expansion (the test uses something defined as a macro instead of a function, for reasons that don't make sense

[2019-11-08 18:33] greghendershott commented on #64
@jeapostrophe I narrowed it down. Apparently the behavior of `in-dict` changed with respect to association lists containing duplicate "keys":

[code]

[code]

I don't know if that was intentional but it seems like a breaking change -- and one which could break more programs than mine?

[2019-11-08 18:38] samth commented on #64
This change was in https://github.com/racket/racket/pull/2846 which was intentional but I think not intended to break things.

[2019-11-08 18:40] greghendershott commented on #64
Ha I had just found that commit myself and was about to comment.

Yes it looks like that commit fixes other problems, but introduces this one.

Hopefully there is a way to push down the bump in the carpet without it popping up somewhere else.

[2019-11-15 19:51] greghendershott commented on #63
@Nexuist So I found a little time to look at this. I pushed a commit -- not yet merged to `master`. If you have a chance to look at it, that would be great.

The idea is that if you are running on Lambda, you call the new `read-keys-and-token/environment` function, much as you suggested.

Note that my commit will automatically handle all the various services like `dynamo.rkt` because they use `add

[2019-11-15 20:04] greghendershott commented on #63
p.s. A dumb question because I have zero mileage using AWS Lamda: Do the environment variables ever change -- might the params get "stale" and we should re-read them periodically? Or is that N/A because the AWS Lambda containers get discarded and recreated frequently?

[2019-11-17 00:09] jbclements commented on #64
I'm confirming that the test above does not fail on the release candidate, 7.4.902, so I'm removing this item from the release checklist.

[2019-11-18 14:09] #64 closed

[2019-11-18 15:12] greghendershott commented on #63
I went on to do quite a bit more work. Just squashed to commit b433002, which replaces the previous one I mentioned.

[2019-11-18 18:00] #63 closed

[2019-11-19 15:24] Nexuist commented on #63
That's a great question. I do not handle this case in my solution. I believe you are correct that there is no need to periodically refresh the keys because the containers do get discarded and recreated frequently (I believe generally after 15 minutes the container dies, but it may stay alive longer if it is being bombarded by requests. Also likely is that Lambda spins up another container to repla

[2019-11-19 15:59] greghendershott commented on #63
In the case of EC2 instance metadata, not only are the keys and token provided, so is an explicit `expiration` value -- as well as a guarantee that re-reading will get new/refreshed credentials at least 5 minutes before expiration.

If Lambda were to supply credentials _initially_ through env vars ... let them expire but provide no expiration time ... and furthermore, require you to get _subsequen

[2019-11-19 16:03] greghendershott commented on #63
p.s. The update is already on the Racket package server, so `raco` will now use it. (Unfortunately the docs page there hasn't refreshed yet; should happen w/in 24 hours. The TL;DR is to call the new `(credentials-from-environment!)` once as initialization.)

[2019-11-19 16:07] Nexuist commented on #63
Here's a quick article I found: https://alestic.com/2014/11/aws-lambda-environment/

Here's the only docs I can find on provided env variables: https://docs.aws.amazon.com/lambda/latest/dg/lambda-environment-variables.html

It looks like there is no `expiration` value. Perhaps Lambda tokens are special in that they do not expire based on time? I'll have to explore.

Also, noted. I'll just grab it

[2019-11-21 02:11] Nyanraltotlapun opened #65 "Add anonymous access to s3 storage"
Perhaps I am missing something, but I cannot find a way to query public bucket

Amazone states that "Every interaction with Amazon S3 is either authenticated or anonymous"
https://docs.aws.amazon.com/en_us/AmazonS3/latest/dev/MakingRequests.html

[2019-11-21 16:03] greghendershott commented on #65
When a bucket is configured to allow anonymous public access, I think the intent is for the usual plain old HTTP `HEAD` or `GET` requests will work from the usual generic tools like `curl`, `wget`, or a web browser.

In that case -- where an `Authorization` header with an Amazon v4 signature is not required -- things from `aws/s3` like `ls` and `get/bytes` don't add much value compared to simply u

[2019-11-21 22:04] Nyanraltotlapun commented on #65
Thank you.

It is logical to use object database from corresponding program api, parsing this things may seams easy, but writing such thing over and over again introduces errors and require time that can be spend elsewhere.
This is why I (and I think lots of other people) really appreciate libraries like this.

I do not look inside lib just yet, but I can suggest to implement this by adding (crede

[2019-11-22 14:22] greghendershott commented on #65
Do you have an example public bucket in mind? If so, have you gone ahead and tried to use the library?  (I don't and haven't.)

I ask because maybe it already works?!  The private and public keys default to `""`. So if you don't call any `credentials-from-XXX` function, probably an `Authorization` header with sigv4 using those values will be added. And maybe S3 will ignore that header when the buc

[2019-11-22 14:32] greghendershott commented on #65
Oh never mind. I forgot. The code has many `ensure-have-keys` calls that check for the keys being non-`""` and error -- to help users understand the situation where things won't work because they haven't set the keys.

That's the kind of thing I was talking about initially. The package currently assumes authenticated, and uses that assumption to e.g. provide helpful error message. Of course it wou

[2019-11-22 15:47] greghendershott commented on #65
I did a few quick hacks to experiment with not supplying any `Authorization` header at all, when the public or private keys are blank.

It works, but the only thing that S3 allows anonymously seems to be "getter" functions like `get/bytes`. Not "listers" like `ls`. (And obviously not "putters".)

---

If you know a bucket name and object path, forming the URI is simply:

[code]

where `endpoint` i

[2019-11-22 15:50] greghendershott commented on #65
p.s. If you think it would be helpful, I'd be happy to add to the documentation something like: "Tip: If you only need to get things from a public S3 bucket, then you don't need this package; instead simply <stuff from comment above>"?

[2019-11-23 01:02] Nyanraltotlapun commented on #65
https://s3-eu-west-1.amazonaws.com/public.bitmex.com?delimiter=/&prefix=data/

I tried:
[code]
This gives me:
[code]

[2022-01-24 14:41] dynnamitt opened #67 "autogenerate more apis"
Wouldn't it be nice to have more services ?
I've been looking into elixirs implementation and they build the functions from aws' go-lang json.
see https://github.com/aws-beam/aws-codegen.

Yes I'll look into it one day myself once I've finished building all the mandatory games in the Realms book ;-)

[2022-01-27 18:33] greghendershott commented on #67
I agree it would be interesting to try that approach, particularly because that's how -- if I recall correctly from looking at this some years ago -- that's how AWS themselves started to cope with their "API explosion" in lang wrappers like `boto`.

Although it sounds like a fun project for someone someday, I currently have no plans to do that, myself.

p.s. To the extent I use AWS these days, fro

[2022-05-07 15:26] pschmied commented on #65
If it is useful, there are petabytes of open data in various formats listed in open S3 buckets listed at https://registry.opendata.aws/